.Perfil {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .usuario {
        width: 488px;
        height: 383px;

        margin-top: 35px;

        background: #44475A;
        border-radius: 5px;

        .header {
            display: flex;
            align-content: space-between;
            align-items: center;

            width: 100%;

            .avatar {
                margin: 26px 30px;
            }

            .username {
                margin-left: 10px;
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 28px;
                /* identical to box height */


                color: #FFFFFF;
            }
        }

        ul {

            list-style-type: none;

            li {
                margin-bottom: 23px;
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 28px;

                color: #FFFFFF;
            }
        }
    }

    .feed {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 488px;
        height: 598px;

        margin-top: 22px;
        margin-bottom: 22px;

        background: #44475A;
        border-radius: 5px;

        .post {
            width: 312px;
            height: 431px;
            left: 484px;
            top: 587px;

            background: #F8F8F2;
            border-radius: 10px;

            padding-right: 16px;
            padding-left: 16px;

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 22px;
                text-align: justify;

                color: #282A36;
            }

            img,
            svg {
                width: 280px;
            }
        }
    }
}