:root {
  --purple-gray: #6272A4;
  --green-neon: #50FA7B;
  --dark: #282A36;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark);
  -webkit-font-smoothing: antialiased;
  color: var(--green-neon);
}

body, input, textarea, button {
  font-family: 'Courier Prime', monospace;
  font-weight: 400;
  font-size: 1rem;
}

