.MainMenu {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #6272A4;
    padding: 10px;
}

.MainMenuLeft {
    margin-left: 20px;
}

.MainMenuRight {
    margin-right: 20px;
}
