@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
  margin: 0;
  font-family: 'Courier Prime',
    sans-serif;
  font-style: normal;
  font-weight: 400;

  background-color: #282A36;

  img,
  figure,
  video,
  iframe,
  audio {
    max-width: 100%;
  }
}